In [3]:
import numpy as np 
import pandas as pd

In [4]:
X= np.linspace(1, 20, 10)

In [5]:
print(X)
type(X)

[ 1.          3.11111111  5.22222222  7.33333333  9.44444444 11.55555556
 13.66666667 15.77777778 17.88888889 20.        ]

numpy.ndarray

In [6]:
set =(list(range(1, 10, 1)))
myset = [float(i) for i in set ]

In [7]:
myset[5:]

[6.0, 7.0, 8.0, 9.0]

In [8]:
myset[1::2]

[2.0, 4.0, 6.0, 8.0]

In [9]:
name = "Charles mawusi"

In [10]:
name.upper()
name.replace('mawusi', 'Kodjo')

'Charles Kodjo'

In [11]:
name.split()
[print(i) for i in name.split()]

Charles
mawusi

[None, None]

In [48]:
x =[i for i in range(0, 5)]
print(x)

[0, 1, 2, 3, 4]

In [55]:
X= ["red ", "Gold", "green"]
for i , k in enumerate(X):
    i